{% extends "base.html" %}

{% block upper %}
    <h2>Правила игры "Быки и Коровы"</h2>
{% endblock %}

{% block content %}
    <p>Компьютер загадывает число, состоящее из неповторяющихся цифр (длину числа вы можете выбрать при старте игры).</p>
    <p>Ваша задача - делать предположения компьютеру и корректировать свои догадки, основываясь на информации, которую предоставляет Вам компьютер.</p>
    <p>В ответ на Ваше предполагаемое число, компьютер называет количество быков и коров:</p>
    <ul>
        <li><b>Бык</b> - это цифра в Вашем числе, которая присутствует в загаданном числе и стоит на том же месте;</li>
        <li><b>Корова</b> - это цифра в Вашем числе, которая присутствует в загаданном числе, но стоит не на том же месте.</li>
    </ul>

    <p>Например, загадано число <b>218</b>:</p>
    <ul>
        <li>В числе <b>186</b> - две <b>коровы</b> (цифры 1 и 8 есть в загаданном числе, но находятся не на тех же местах);</li>
        <li>В числе <b>810</b> - один <b>бык</b> (цифра 1) и одна <b>корова</b> (цифра 8);</li>
        <li>В числе <b>218</b> - три <b>быка</b>.</li>
    </ul>
    <p>При нахождении числа, в котором все цифры являются быками, игра заканчивается Вашей победой.</p>

    <a href="/" class="button">Назад</a>
{% endblock %}